.container-fluid {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background: linear-gradient(to right, lightseagreen , seagreen);
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.row-first {
    height:80%;
    overflow: hidden;
}

.card {
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.5);
}

a {
    color: black;
}

a:hover{
    color: black;
}